<form action="/cart" method="POST">
  <button class="btn btn-success">Add</button>
  <input type="hidden" name="productId" value="<%= prods._id %>">
  <input type="hidden" value="<%= csrfToken %>" name="_csrf">
</form>